scenario/config.py
scenario/*.session
scenario/*.session-journal
scenario/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
scenario/modules/helper_funcs/temp.txt
scenario/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
scenario.session-journal
updates.txt
*.exe
